<ion-header>
  <ion-toolbar>
    <ion-title>transaction-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transaction-form-container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ transactionType }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="transactionForm" (ngSubmit)="submitForm()">
        <!-- Type (hidden input) -->
        <ion-input type="hidden" formControlName="id"></ion-input>

        <!-- Type (hidden input) -->
        <ion-input type="hidden" formControlName="type"></ion-input>

        <!-- Description -->
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-input id="description" type="text" formControlName="description"></ion-input>
        </ion-item>

        <!-- Amount -->
        <ion-item>
          <ion-label position="stacked">Amount</ion-label>
          <ion-input id="amount" type="number" formControlName="amount"></ion-input>
        </ion-item>
        <ion-text color="danger"
          *ngIf="transactionForm.controls.amount.invalid && transactionForm.controls.amount.touched">
          <p>Amount must be greater than 0.</p>
        </ion-text>

        <!-- Date -->
        <ion-item>
          <ion-label position="stacked">Date</ion-label>
          <ion-datetime id="date" presentation="date" formControlName="date"></ion-datetime>
        </ion-item>

        <!-- Time -->
        <ion-item>
          <ion-label position="stacked">Time</ion-label>
          <ion-datetime id="time" presentation="time" formControlName="time"></ion-datetime>
        </ion-item>

        <!-- Contact (Conditionally Rendered) -->
        <div *ngIf="transactionType === 'Loan' || transactionType === 'Borrow'">
          <ion-item>
            <ion-label position="stacked">Contact (Email)</ion-label>
            <ion-input id="contact" type="email" formControlName="contact"></ion-input>
          </ion-item>
          <ion-text color="danger"
            *ngIf="transactionForm.controls.contact.invalid && transactionForm.controls.contact.touched">
            <p>Enter a valid email address.</p>
          </ion-text>
        </div>

        <!-- Is Returned (Conditionally Rendered) -->
        <div *ngIf="transactionType === 'Loan' || transactionType === 'Borrow'">
          <ion-item>
            <ion-label>Is Returned</ion-label>
            <ion-checkbox slot="start" id="isReturned" formControlName="isReturned"></ion-checkbox>
          </ion-item>
        </div>

        <!-- Form Actions -->
        <div class="form-actions ion-margin-top">
          <ion-button expand="full" type="submit" >Submit</ion-button>
          <ion-button expand="full" color="light" type="button" (click)="cancel()">Cancel</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>