<ion-header class="ion-no-border" translucent>
  <ion-toolbar color="secondary">
    <ion-title color="primary" mode="ios">Transactions Analysis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" fullscreen>
  <div class="chart-container" *ngIf="isDataAvailable; else noDataTemplate">
    <h2>Transactions Analysis</h2>
    <canvas id="doughnutChart"></canvas> <!-- Doughnut Chart Canvas -->
  </div>

  <ng-template #noDataTemplate>
    <div class="no-data-message">
      <h2>No data available for the selected filters.</h2>
    </div>
  </ng-template>

  <!-- Form Controls -->
  <form [formGroup]="form" (ngSubmit)="updateChart()">
    <ion-item>
      <ion-label>Operation Type</ion-label>
      <ion-select formControlName="operationType">
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="Spend">Expenditure</ion-select-option>
        <ion-select-option value="Top-up">Inflow</ion-select-option>
        <ion-select-option value="Borrow">Borrowing</ion-select-option>
        <ion-select-option value="Loan">Loan</ion-select-option>
        <ion-select-option value="Save">Saving</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Data Period</ion-label>
      <ion-select formControlName="dataPeriod">
        <ion-select-option value="day">Day</ion-select-option>
        <ion-select-option value="week">Week</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="form.value.dataPeriod === 'week'">
      <ion-label>Week</ion-label>
      <ion-select formControlName="week">
        <ion-select-option value="current">Current Week</ion-select-option>
        <ion-select-option value="previous">Previous Week</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item *ngIf="form.value.dataPeriod === 'day'">
      <ion-label>Day</ion-label>
      <ion-select formControlName="day">
        <ion-select-option value="current">Today</ion-select-option>
        <ion-select-option value="previous">Yesterday</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit">Update Chart</ion-button>
  </form>
</ion-content>
