<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-title color="primary" mode="ios">Transaction History</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="ios" [value]="segmentValue" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="in">
        <ion-label>In-flow</ion-label>
      </ion-segment-button>
      <ion-segment-button value="out">
        <ion-label>Out-flow</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" fullscreen>

  <ion-list class="transactions" *ngIf="transactions?.length > 0">
    <ion-item-group>
      <ion-item lines="full" *ngFor="let transaction of transactions">
        <!-- Thumbnail based on transaction type or amount -->
        <ion-thumbnail slot="start" class="ion-text-center">
          <img 
            [src]="'assets/imgs/' + 
            ((transaction?.type === 'Loan' || transaction?.type === 'Spend') 
              ? 'down-left-arrow.png' 
              : 'up-right.png')" 
          />
        </ion-thumbnail>
        
        <!-- Transaction details -->
        <ion-label>
          <ion-text>{{ transaction?.type }}</ion-text><br />
          <ion-text>{{ transaction?.description }}</ion-text>
          <p>
            <ion-text>
              {{ transaction?.date | date: 'MMM d, y' }}
            </ion-text>
          </p>
          <p>
            <ion-text>
              At {{ transaction?.time }}
            </ion-text>
          </p>
          <p>
            <ion-text *ngIf="(transaction?.type === 'Loan' || transaction?.type === 'Borrow')">
              Contact: <br />{{ transaction?.contact }}
            </ion-text>
          </p>
        </ion-label>
        
        <!-- Transaction amount -->
        <ion-text slot="end" [color]="(transaction?.type === 'Loan' || transaction?.type === 'Spend') ? 'danger' : 'primary'">
          {{ transaction?.amount }} FCFA
        </ion-text>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
