<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-title color="primary" mode="ios">Transaction History</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="ios" [value]="segmentValue" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="in">
        <ion-label>In-flow</ion-label>
      </ion-segment-button>
      <ion-segment-button value="out">
        <ion-label>Out-flow</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons slot="end" class="icon-buttons">
      <ion-button fill="clear" (click)="exportToJSON()">
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
      <!-- <ion-button fill="clear" (click)="authenticate()">
        <ion-icon name="cloud-upload-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="importFromGoogleDrive()">
        <ion-icon name="cloud-download-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" fullscreen>
  <ion-list class="transactions" *ngIf="transactions?.length > 0">
    <ion-item-group>
      <ion-item lines="full" *ngFor="let transaction of transactions">
        <ion-thumbnail slot="start" class="ion-text-center">
          <img 
            [src]="'assets/imgs/' + 
            ((transaction?.type === 'Loan' || transaction?.type === 'Spend') 
              ? 'down-left-arrow.png' 
              : 'up-right.png')" 
          />
        </ion-thumbnail>

        <ion-label>
          <ion-text color="primary">{{ transaction?.type }}</ion-text><br />
          <ion-text>{{ transaction?.description }}</ion-text>
          <p>
            <ion-text>
              {{ transaction?.date | date: 'MMM d, y' }}
            </ion-text>
          </p>
          <p>
            <ion-text>
              At {{ transaction?.time }}
            </ion-text>
          </p>
          <p>
            <ion-text *ngIf="(transaction?.type === 'Loan' || transaction?.type === 'Borrow')">
              Contact: <br />{{ transaction?.contact }}
            </ion-text>
          </p>
        </ion-label>

        <ion-text slot="end" [color]="(transaction?.type === 'Loan' || transaction?.type === 'Spend') ? 'danger' : 'primary'">
          {{ transaction?.amount }} FCFA <br />
          <ion-button color="success" fill="outline" *ngIf="!transaction?.isReturned && transaction?.type === 'Loan'" (click)="markAsReturned(transaction)">
            Return
          </ion-button>
        </ion-text>
        
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
