<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title mode="md" class="ion-no-padding">
      <ion-label>
        <ion-text color="tertiary">Welcome</ion-text>
        <p><ion-text color="white"><strong>Allabira</strong></ion-text></p>
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <img src="assets/imgs/img.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-row class="banners">
    <swiper [config]="bannerConfig">
      <ng-template swiperSlide *ngFor="let account of accounts">
        <div align="center">
          <ion-label>
            <span>Total Balance</span>
            <p class="acc-amt"><ion-text color="white">{{ balances[balances.length - 1]?.total }} FCFA</ion-text></p>
            <span> On {{ balances[balances.length - 1]?.date  | date: 'MMM d, y' }}</span>
          </ion-label>
          <ion-card *ngIf="recommendationMessage" class="recommendation-card" color="primary">
            <ion-card-content>
              <p>{{ spendingLevel }} consumption level</p>
              <p>{{ recommendationMessage }}</p>
            </ion-card-content>
          </ion-card>          
        </div>
      </ng-template>
    </swiper>
  </ion-row>

  <ion-row class="ion-text-center feature-list" *ngIf="features?.length > 0">
    <swiper [config]="featureConfig">
      <ng-template swiperSlide *ngFor="let feature of features">
        <div>
          <ion-button slot="icon-only" [color]="feature?.color" [routerLink]="feature?.path">
            <ion-icon [name]="feature?.icon"></ion-icon>
          </ion-button>
          <ion-label>{{ feature?.name }}</ion-label>
        </div>
      </ng-template>
    </swiper>
  </ion-row>

  <ion-list class="transactions" *ngIf="transactions?.length > 0">

    <ion-list-header>
      <ion-label color="medium">Latest Transactions</ion-label>
    </ion-list-header>

    

    <ion-item-group>
      <ion-item lines="full" *ngFor="let transaction of transactions  | slice:-5">
        <!-- Thumbnail based on transaction type or amount -->
        <ion-thumbnail slot="start" class="ion-text-center">
          <img 
            [src]="'assets/imgs/' + 
            ((transaction?.type === 'Loan' || transaction?.type === 'Spend') 
              ? 'down-left-arrow.png' 
              : 'up-right.png')" 
          />
        </ion-thumbnail>
        
        <!-- Transaction details -->
        <ion-label>
          <ion-text>{{ transaction?.description }}</ion-text>
          <p>
            <ion-text>
              {{ transaction?.date | date: 'MMM d, y' }}
            </ion-text>
          </p>
          <p>
            <ion-text>
              At {{ transaction?.time }}
            </ion-text>
          </p>
          <p>
            <ion-text *ngIf="(transaction?.type === 'Loan' || transaction?.type === 'Borrow')">
              Contact: <br />{{ transaction?.contact }}
            </ion-text>
          </p>
        </ion-label>
        
        <!-- Transaction amount -->
        <ion-text slot="end" [color]="(transaction?.type === 'Loan' || transaction?.type === 'Spend') ? 'danger' : 'primary'">
          {{ transaction?.amount }} FCFA
        </ion-text>
      </ion-item>
    </ion-item-group>
    

  </ion-list>

  

</ion-content>
